/*============================================================
     CONTENIDO CUSTOM DE EL PANEL DE ADMINISTRACION
     AUTHOR: ANTONIO NICASIO
     EMAIL:WEBMEDIADIGITAL@GMAIL.COM
     GITHUB:WBMEDIA
     TWITTER:WBMEDIADIGITAL
============================================================*/

/*============================================================
    SECCION BLOG
============================================================*/
.label-categoria{
 color:#c0392b!important;
}
.fa-clock-o{
color:#c0392b!important;
}

.fa-folder{
    color:#c0392b!important;
}


/*============================================================
    SECCION GALERIA DE IMAGENES
============================================================*/
.thumbnail-imagen{
 height:250px!important;
 width: 300px!important;
}